<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta http-equiv="refresh" content="2" >
<title>Session Counter Testing</title>
</head>
<body>
Session ID: <span th:text="${sessionId}"/>
<br>

<table>
	<tbody>
		<tr th:each="rec: ${list}">
			<td th:text="${rec.counter}" />
			<td th:text="${rec.hostname}" />
			<td th:text="${rec.login}" />
			<td th:text="${rec.timestamp}" />
		</tr>
	</tbody>
</table>
</body>
</html>